<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Prueba del componente Routing
  </h1>
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a routerLink="/">Abrir home</a></h2>
  </li>
  <li>
    <h2><a routerLink="/componente1">Abrir el componente 1</a></h2>
  </li>
  <li>
    <h2><a routerLink="/componente2">Abrir el componente 2</a></h2>
  </li>
  <li>
    <h2><a routerLink="/componente1/7000">pasar un parámetro</a></h2>
  </li>
  <li>
    <h2><a routerLink="/componente2/50/3000">pasar dos parámetros</a></h2>
  </li>
  <li>
    <h2><a routerLink="/componenteeee">Ruta desconocida</a></h2>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
